<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center py-2 py-md-5">
      <section class="col-lg-4">
        <h1 class="text-secondary text-center">Countries & Capitals</h1>
        <div class="d-flex align-items-center gap-2">
          <select [(ngModel)]="country" id="select" class="form-select">
            <option value="" disabled selected>Choose Capital</option>
            <option
              *ngFor="let capital of countryAndCapitalsList"
              value="{{ capital.country }}"
            >
              {{ capital.capitalDisplayText }}
            </option>
          </select>
          <label for="select" class="form-label w-100">
            is capital of which country?
          </label>
        </div>
        <h1 class="text-secondary my-2">
          {{ country }}
        </h1>
      </section>
    </div>
  </div>
</div>
