<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar">
        <div class="d-flex justify-content-between align-items-center w-100">
          <p class="website-logo">RA</p>
          <ul class="d-flex">
            <li>
              <img
                class="social-network-img"
                src="https://assets.ccbp.in/frontend/react-js/projects-linkedin-img.png"
                alt="Linked In"
              />
            </li>
            <li>
              <img
                class="social-network-img"
                src="https://assets.ccbp.in/frontend/react-js/projects-github-img.png"
                alt="Git Hub"
              />
            </li>
            <li>
              <img
                class="social-network-img"
                src="https://assets.ccbp.in/frontend/react-js/projects-twitter-img.png"
                alt="Twitter"
              />
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
