<div class="container">
  <div class="row">
    <div
      class="col-12 d-flex flex-column justify-content-center align-items-center pt-5"
    >
      <section class="col-12 col-md-6">
        <h1 class="text-center">Destination Search</h1>
        <div class="d-flex gap-2 border my-4">
          <input
            [(ngModel)]="searchValue"
            (input)="onChangeInputValue()"
            type="search"
            placeholder="Search For Destination"
            class="form-control border-0"
          />
          <button
            (click)="onClickShowSearchDestinations()"
            type="button"
            class="btn btn-outline-light border-0 col-2 col-md-1"
          >
            <img
              src="https://assets.ccbp.in/frontend/react-js/google-search-icon.png"
              alt="search"
              class="w-100"
            />
          </button>
        </div>
      </section>

      <section class="col-12">
        <ul class="d-flex justify-content-center flex-wrap gap-2 p-0">
          <li
            class="col-12 col-md-4 col-lg-2 border rounded"
            *ngFor="let destination of filterDestinations"
          >
            <app-destination-item
              [destinationData]="destination"
            ></app-destination-item>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
