<div class="container">
  <div class="row">
    <div class="col-12">
      <Section>
        <app-navbar></app-navbar>
      </Section>

      <section>
        <h1 class="title">Projects</h1>
        <p class="description">
          Your skills and achievements showcase your strengths and abilities.
          Speak about any new skills or software you learnt to perform the
          project responsibilities.
        </p>
      </section>
      <section class="col-md-4 m-auto">
        <ul class="d-flex justify-content-between align-items-center p-0">
          <li *ngFor="let tabItem of tabsList">
            <app-tab-item
              (selectedTab)="setTabId($event)"
              [tabItem]="tabItem"
              [activeTab]="initialActiveTab"
            ></app-tab-item>
          </li>
        </ul>
      </section>

      <section>
        <ul class="d-flex justify-content-center flex-wrap gap-2 p-0">
          <li *ngFor="let projectData of filterList">
            <app-project-item
              [projectItemDetails]="projectData"
            ></app-project-item>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
